<a href="https://colab.research.google.com/github/Selvadharshini-git/Data-Science-Internship-Basics/blob/main/pandas_basics_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Age": [25, 30, 35, 40, 45],
    "Salary": [ 70000, 80000, 90000, 100000, 110000]
}


df = pd.DataFrame(data)
df.to_csv("sample_data.csv", index=False)
df = pd.read_csv("sample_data.csv")
print("First five rows of the dataset:")
print(df.head())
print("\nBasic statistics of the dataset:")
print(df.describe())

First five rows of the dataset:
      Name  Age  Salary
0    Alice   25   70000
1      Bob   30   80000
2  Charlie   35   90000
3    David   40  100000
4      Eve   45  110000

Basic statistics of the dataset:
             Age         Salary
count   5.000000       5.000000
mean   35.000000   90000.000000
std     7.905694   15811.388301
min    25.000000   70000.000000
25%    30.000000   80000.000000
50%    35.000000   90000.000000
75%    40.000000  100000.000000
max    45.000000  110000.000000